

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: black;
}
.container-bg-1{
    background: linear-gradient(
        rgba(0, 0, 0, 0.521),rgba(0, 0, 0, 0.678)
    ), url('../img/home-banner.jpg');
    height: 80vh;
    width: auto;
   
}

.animation{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    transform: translateY(-50%);
   
   
}


.container-bg-2{
    background-color: #180b0b;
    background-image: url('../img/banner2.png');
    height: 80vh;
    width: auto;
   
}

.container-bg-3{
    background-image: url('../img/banner3.jpg');
    height: 100%;
    width: auto;
}

.container-bg-4{
    background-image: url('../img/banner4.jpg');
    height: auto;
    width: auto;
}

.container-bg-5{
    background-image: url('../img/banner3.jpg');
    height: auto;
    padding: 1rem 0;
    width: auto;
}





/*
video
*/

.video{
    width: 55vw;
    height: 630px;
}

